<html lang="en">
<%- include("./partials/header.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="details-content">
    <div class="content">
      <section class="title-date">
        <h2><%= blog.title %></h2>
        <small> - <%= formatDate(blog.createdAt) %></small>
      </section>
      <section class="btns">
        <a class="update" href="/blogs/<%= blog._id %>/edit">
          <img src="/edit.svg" alt="edit icon">
        </a>
        <a class="delete" data-doc="<%= blog._id %>">
          <img src="/trash.svg" alt="delete icon" >
        </a>
      </section>
    </div>
    <p><%= blog.body %></p>
  </div>


  <script>
   const trashcan = document.querySelector('a.delete');

    trashcan.addEventListener('click', (e) => {
      const endpoint = `/blogs/${trashcan.dataset.doc}`;

      fetch(endpoint, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
  </script>
</body>
</html>