<html lang="en">
<%- include("./partials/header.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="details-content">
    <div class="content">
      <h2><%= blog.title %></h2>
      <a class="delete" data-doc="<%= blog._id %>">delete</a>
    </div>
    <p><%= blog.body %></p>
  </div>


  <script>
    const deleteBtn = document.querySelector('.delete');
    deleteBtn.addEventListener('click', (e) => {
      const id = e.target.getAttribute('data-doc');
      fetch('/blogs/' + id, {
        method: 'DELETE'
      }).then((res) => {
        return res.json();
      }).then((data) => {
        console.log(data);
        window.location.href = '/blogs';
      }).catch((err) => {
        console.log(err);
      });
    });
  </script>
</body>
</html>