<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<body>
    
    <%- include('partials/nav') %>

    <h1 class="home-title"><%= title %></h1>

    <% if (blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>
            <a href="/blogs/<%= blog._id %>" class="single">
                <h3><%= blog.title %></h3>
                <p><%= blog.snippet%></p>
                <!-- <small><%= blog.body%></small> -->
            </a>
            <% }) %>
    <% } else { %>
        <h2>No Blog Found</h2>
    <% } %>

</body>
</html>